@keyframes heartbeat {
    from {
        transform: scale(1); /* означает что масштаб соответствует 100% */
    }
    50% {
        transform: scale(1.4); /* означает что масштаб соответствует 140% */
    }
    to {
        transform: scale(1); /* означает что масштаб соответствует снова 100% */
    }
}