@media (max-width: 1200px) {
    .container {
        padding: 0 10px;
    }
}
@media (max-width: 767px) {
    .header {
        &__logo {
            width: 30%;
        }
    }
    .promo {
        background-position: center left;
        &__wrapper {
            align-items: center;
        }
        &__header {
            font-size: 35px;
        }
        &__subheader {
            margin-top: 5px;
            font-size: 18px;
        }
    }
    .advantages {
        &__wripper {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__item {
            margin-right: 25px;
            &:nth-child(3) {
                margin-top: 20px;
            }
        }
    }
    .consultation {
        padding-left: 0;
        &__descr {
            text-align: center;
            margin-bottom: 25px;
            font-size: 18px;
            line-height: 28px;
        }
    }   
    .title {
        &_left {
            text-align: center;
            font-size: 36px;
            line-height: 50px;
        }
    }
    .feed-form {
        margin: 0 auto;
        margin-top: 36px;
    }
    .catalog {
        &__content {
            justify-content: space-around;
        }
        &-item {
            margin-right: 5px;
        }
    }
    .slick-slide img {
        width: 100%;
    } 
    .reviews {
        &__item {
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;
        }
        &__text {
            text-align: center;
            margin-top: 15px;
            margin-left: 0;
        }
        &__img {
            margin-right: 0;
        }
    }
         
}
@media (max-width: 575px) {
    .button {
        &_main {
            width: 260px;
        }
    }
    
    .promo {
        .header {
            &__logo {
                width: 50%;
            }
            &__official {
                display: none;
            }
            &__phone {
                font-size: 16px;
            }
        }
        &__header {
            text-align: center;
        }
        &__subheader {
            text-align: center;
        }
        &__icons {
            width: 300px;
        }
        .button_one {
            display: none;
        }
    }
    .advantages {
        &__item {
            margin-right: 0;
            margin-bottom: 10px;
            &:nth-child(3) {
                margin-top: 0;
            }
        }
    }    
    .title {
        &_left {
            font-size: 26px;
            line-height: 42px;
        }
    }
    .consultation {
        &__descr {
            font-size: 16px;
            line-height: 24px;
            margin-top: 10px;
        }
        .feed-form {
            margin: 0 auto;
            margin-top: 35px;
        } 
    }
    .catalog {
        &__tabs {
            flex-direction: column;
            align-items: center;
        }
        &__tab {
            margin-top: 15px;
        }
    }
    .footer {
        &__info {
            width: 100%;
        }
        &__addr {
            font-size: 19px;
        }
        &__phone {
            font-size: 19px;
        }
    }  
}
@media (max-width: 480px) {
    .modal__close {
        top: auto;
        bottom: -30px;
        transform: translateX(-45%);
        right: 45%;
    }
}
@media (max-width: 380px) {
    .title_left {
        font-size: 20px;
        line-height: 40px;
    }
    
}

