.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        max-width: 750px;
        margin: 0 auto;
    }
    .slick-prev, .slick-next  {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next  {
        right: -66px;
        left: auto;
    }
}
@media (max-width: 991px) {
    .carousel {
        .slick-dots {
            text-align: center;
            display: flex !important;
            justify-content: center;
            margin: 0;
            padding: 0;
            border-radius: 50%;
            list-style: none;
            font-size: 0;
            button {
                border: none;
                margin: 5px;
                outline: none;
                width: 15px;
                height: 15px;
                border: 1px solid $main-color;
                border-radius: 50%;
                list-style: none;
            }
            .slick-active {
                button {
                    background: $main-color;
                }
            }
        }    
    }
}
@media (max-width: 767px) {
    .carousel {
        padding: 39px 0;
        &__inner {
            width: 100%;
            position: relative;
        }
    }
}
